

.email {
  border-radius: 4px;

}

.inputemail {
  border-radius: 4px;
  background-color: antiquewhite  ;
}

.div1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 190px;
  text-align: center;
  /* border: 1px solid red ; */
}

div2 {
  text-align: left;
}

.link {
  text-decoration: none;
}

.email{
text-align: right;
}
.password{
  text-align: right;
}
.repeat-password{
  text-align: right;
}
.div2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 194px;
  text-align: center;
  /* border: 1px solid red ; */
}