.firsthead{

}
.email{
text-align:  ;
}
.inputemail{
  text-align: right;
}
.div1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1 00px;
  width: 300px;
  text-align: center;
  /* border: 1px solid red ; */
}
div2{
  text-align: left;
}
.link{
  text-decoration: none;
}
